gitignore
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you actually want to
# share as part of your repo. However, if you would rather keep these files
# local to your machine, you can untrack they by adding them here.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/generated/
**/android/gen/
**/android/out/
**/android/app/google-services.json
**/android/key.properties
*.keystore
*.jks

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.structurereport
**/ios/Pods/
**/ios/.generated/
**/ios/DerivedData/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/ServiceDefinitions.json
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcworkspace
!**/ios/Runner/Info.plist
!**/ios/Runner/Assets.xcassets

# Web related
lib/generated_plugin_registrant.dart

# Symbols and secrets
**/google-services.json
**/.env
**/.env.*